$mainTextColor:#00f;

$thinBorder:1px solid black;

$mediumBorder:5px solid black;

$thickBorder:10px solid black;

div {
    color: $mainTextColor;
    border: $thinBorder;
}


p {
    color: $mainTextColor;
    border: $mediumBorder;
}


h1 {
    color: $mainTextColor;
    border: $thickBorder;
}


li {
    
    margin-bottom: 20px;

    a {
        font-weight: bold;
    }
}
